<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHRS</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
</head>
<body>
    <header>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <img src="/photos/sbLogoKırmızı.png" height="88" width="88" class="p-1">
                <img src="/photos/mhrsLogo.svg" height="52" width="160" class="ms-3">
            </div>
            <div>
                <button type="button" class="btn btn-primary p-1 m-1"><h5>Randevu Al</h5></button>
                <button type="button" class="btn btn-danger p-1 m-1"><h5><i class="fa-solid fa-map-location-dot"></i> Harita</h5></button>
                <button type="button" class="btn btn-outline-primary p-1 m-1"><img src="/photos/e-nabiz-logo.png" height="35" width="100"></button>
                <button type="button" class="btn btn-secondary p-1 m-1"><img src="/photos/neyim_var_button.svg" height="34" width="100"></button>
            </div>
        </div>
    </header>
    <main>
        <div id="mainPageCarousel" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div style="background-image: url(/photos/iletisim_numarasi_guncelle.jpg); height: 675px" class="d-flex w-100 justify-content-center align-items-center flex-column">
                    <div class="container">
                        <h3 class="d-block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, modi facilis harum voluptas autem labore molestias est, dolor architecto fugit cupiditate voluptatibus aut excepturi accusantium dignissimos esse nemo blanditiis error.</h3>
                        <p class="d-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eius nesciunt voluptate nulla? Quam dolor, saepe perferendis ex nam amet optio dolore recusandae quae facere minima dolorum iusto eligendi cupiditate.</p>
                    </div>    
                </div>
              </div>
              <div class="carousel-item">
                <div style="background-image: url(/photos/iletisim_numarasi_guncelle.jpg); height: 675px" class="d-flex w-100 justify-content-center align-items-center flex-column">
                    <div class="container">
                        <h3 class="d-block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, modi facilis harum voluptas autem labore molestias est, dolor architecto fugit cupiditate voluptatibus aut excepturi accusantium dignissimos esse nemo blanditiis error.</h3>
                        <p class="d-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eius nesciunt voluptate nulla? Quam dolor, saepe perferendis ex nam amet optio dolore recusandae quae facere minima dolorum iusto eligendi cupiditate.</p>
                    </div>    
                </div>
              </div>
              <div class="carousel-item">
                <div style="background-image: url(/photos/randevumu_nasil_onaylarim.jpg); height: 675px" class="d-flex w-100 justify-content-center align-items-center flex-column">
                    <div class="container">
                        <h3 class="d-block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, modi facilis harum voluptas autem labore molestias est, dolor architecto fugit cupiditate voluptatibus aut excepturi accusantium dignissimos esse nemo blanditiis error.</h3>
                        <p class="d-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eius nesciunt voluptate nulla? Quam dolor, saepe perferendis ex nam amet optio dolore recusandae quae facere minima dolorum iusto eligendi cupiditate.</p>
                    </div>    
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mainPageCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mainPageCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <ul style="list-style: none;" class="d-flex my-3 justify-content-between">
            <div class="d-flex">
                <li><a href="https://www.twitter.com/MHRS_182" target="_blank"><img src="/photos/x.png" height="40" width="40" class="rounded-circle m-2"></a></li>
                <li><a href="https://www.facebook.com/MerkeziHekimRandevuSistemi/" target="_blank"><img src="/photos/Facebook.jpg" height="40" width="40" class="rounded-circle m-2"></a></li>
                <li><a href="https://www.instagram.com/mhrs_182/" target="_blank"><img src="/photos/instagram.jpg" height="40" width="40" class="rounded-circle m-2"></a></li>
            </div>
            <div class="d-flex justify-content-center align-items-center me-3">
                <li class="float-right"><a href="" class="link-dark link-underline-opacity-0 float-right"><h5 class="d-inline-block"><i class="fa-solid fa-file-lines me-2"></i></h5><b>Aydınlatma Metni</b></a></li>
            </div>
        </ul>
          <div class="">
                <div class="container">
                    <h3>Duyurular</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="border">...</div>
                        </div>
                        <div class="col-md-4">
                            <div class="border">...</div>
                        </div>
                        <div class="col-md-4">
                            <div class="border">...</div>
                        </div>
                    </div>
                </div>
          </div>
    </main>





    <!-- bootstrap sc -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/593131067b.js" crossorigin="anonymous"></script>
</body>
</html>